{% extends "base-sidenav.html" %}
{% load static %}

{% block title %}
Pasto
{% endblock title %}
    
{% block head %}

   {% include 'partials/css/link_datatable_buttons.html' %}

{% endblock head %}
        
   
{% block content %}
            
<main>
    <div class="container-fluid px-4">
        <h1 class="my-4">Pasto</h1>
        

        <div class="row mb-4">
            <div class="col-4">
                <a class="btn btn-primary" href="{% url 'pastoCreate' %}" >Adicionar Pasto</a>
            </div>
        </div>
        
        <div class="row">
           
                {% if pastos %}
                <table id="datatable" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th>area</th>
                            <th>Pastagem</th>
                            <th>#</th>
                            {% comment %} <th>Opção</th> {% endcomment %}
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>area</th>
                            <th>Pastagem</th>
                            <th>#</th>
                            {% comment %} <th>Opção</th> {% endcomment %}
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for pasto in pastos %}
                        <tr>
                            <td>{{pasto.nome}}</td>
                            <td>{{pasto.area}}</td>
                            <td>{{pasto.pastagem}}</td>
                            <td>
                                <button type="button" class="btn btn-outline-secondary" onclick="window.location='{% url 'pastoUpdate' pasto.id %}';">Selecinar</button>
                            </td>
                            {% comment %} <td>
                                <a class="btn btn-warning mx-4" href="{% url 'pastoUpdate' pasto.id %}" ><i class="fa-solid fa-pen"></i></a>
                                <a class="btn btn-danger" href="{% url 'pastoDelete' pasto.id %}"><i class="fa-solid fa-trash"></i></a>
                            </td> {% endcomment %}
                        </tr>

                        {% endfor %}
                       
                    </tbody>
                </table>
                {% else %}
                    <div class="alert alert-info my-4" role="alert">
                        Não tem dados na tabela.
                    </div>
                {% endif %}
            
        </div>
    </div>
</main>
{% endblock content %}


{% block script %} 

{% include "partials/js/script_datatable_buttons.html" %}

<script>
    new DataTable('#datatable',{
        select: true,
        responsive: true,
        layout: {
            topStart: {

                buttons: ['pageLength','print', 'excel','csvHtml5']
             
            }
        }
    });
</script>
    
{% endblock script %}   
    


               
