<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Meses</th>
            <th scope="col">0</th>
            <th scope="col">1</th>
            <th scope="col">2</th>
            <th scope="col">3</th>
            <th scope="col">4</th>
            <th scope="col">5</th>
            <th scope="col">6</th>
            <th scope="col">7</th>
            <th scope="col">8</th>
            <th scope="col">9</th>
            <th scope="col">10</th>
            <th scope="col">11</th>
            <th scope="col">12</th>
            <th scope="col">24</th>
            <th scope="col">36</th>
            <th scope="col">+36</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">Femea</td>
            <td>{{femea_r}}</td>
            <td>{{femea_1}}</td>
            <td>{{femea_2}}</td>
            <td>{{femea_3}}</td>
            <td>{{femea_4}}</td>
            <td>{{femea_5}}</td>
            <td>{{femea_6}}</td>
            <td>{{femea_7}}</td>
            <td>{{femea_8}}</td>
            <td>{{femea_9}}</td>
            <td>{{femea_10}}</td>                                                                                       
            <td>{{femea_11}}</td>
            <td>{{femea_12}}</td>
            <td>{{femea_24}}</td>
            <td>{{femea_36}}</td>
            <td>{{femea_37}}</td>
        </tr>
        <tr>
            <td scope="row">Macho</td>
            <td>{{macho_r}}</td>
            <td>{{macho_1}}</td>
            <td>{{macho_2}}</td>
            <td>{{macho_3}}</td>
            <td>{{macho_4}}</td>
            <td>{{macho_5}}</td>
            <td>{{macho_6}}</td>
            <td>{{macho_7}}</td>
            <td>{{macho_8}}</td>
            <td>{{macho_9}}</td>
            <td>{{macho_10}}</td>
            <td>{{macho_11}}</td>
            <td>{{macho_12}}</td>
            <td>{{macho_24}}</td>
            <td>{{macho_36}}</td>
            <td>{{macho_37}}</td>
        </tr>

    </tbody>
    </table>